@font-face {
  font-family: noice;
  src: url(fonts/subset-DomaineDisplayCd-Regular.woff2);
}

@font-face {
  font-family: 'noice1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/subset-Spoof-Light.woff2);
}
@font-face {  
  font-family: 'noice2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/aesthet-nova-bold.ttf);
}

    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: noice2;
      background: #def7ff;
      color: #111;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 999;
      position: fixed;
    }

    .nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 60%;
      padding: 10px 0px 10px 0px;
      background-color: #fffaea;
      border-radius: 15px;
      margin-top: 60px;
      font-family: noice1;

    }

    .first-nav{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;
    }
    ul{
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      list-style-type: none;
      width: 100%;
    }
    ul li{
      padding: 10px;
      font-size: 1.3rem;
      font-weight: 900;
    }

    ul li a{
      text-decoration: none;
      color: #111;
      cursor: pointer;
    }
    .middle-nav{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .middle-nav img{
      position: absolute;
      width: 120px;
    }
    .last-nav{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;
    }
    .last-nav ul{
      justify-content: flex-end;
    }
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #512d1e;
      padding: 50px 80px 20px 100px;
      color: #fff;
      font-family: noice2;
      font-weight: 100;
    }

    .footer-header {
        display: flex;
        width: 100%;
    }
    .footer-first {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 40px;
    }
    .footer-logo {
      display: flex;
      justify-content: center;
      width: 30%;
    }
    .footer-second {
        display: flex;
        width: 20%;
    }
    .footer-second img {
        width: 100%;
    }
    .footer-about {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        font-size: 1.2rem;
    }
    hr {
        width: 100%;
        border: 0.5px solid rgb(0, 0, 0);
        margin: 20px 0 20px 0;
    }


