@font-face {
  font-family: noice;
  src: url(fonts/subset-DomaineDisplayCd-Regular.woff2);
}

@font-face {
  font-family: 'noice1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/subset-Spoof-Light.woff2);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: noice;
  background: #def7ff;
  color: #111;
}


