@font-face {
  font-family: noice;
  src: url(fonts/subset-DomaineDisplayCd-Regular.woff2);
}

@font-face {
  font-family: 'noice1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/subset-Spoof-Light.woff2);
}
@font-face {  
  font-family: 'noice2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/aesthet-nova-bold.ttf);
}

    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: noice;
      background: #def7ff;
      color: #111;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 999;
      position: fixed;
    }

    .nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 60%;
      padding: 10px 0px 10px 0px;
      background-color: #fffaea;
      border-radius: 15px;
      margin-top: 60px;
      font-family: noice1;

    }

    .first-nav{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;
    }
    ul{
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      list-style-type: none;
      width: 100%;
    }
    ul li{
      padding: 10px;
      font-size: 1.3rem;
      font-weight: 900;
    }

    ul li a{
      text-decoration: none;
      color: #111;
      cursor: pointer;
    }
    .middle-nav{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .middle-nav img{
      position: absolute;
      width: 120px;
    }
    .last-nav{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;
    }
    .last-nav ul{
      justify-content: flex-end;
    }


